[submodule "MDTVSFA"]
	path = MDTVSFA
	url = https://github.com/lidq92/MDTVSFA
[submodule "koniq"]
	path = koniq
	url = https://github.com/ZhengyuZhao/koniq-PyTorch
[submodule "Retinex"]
	path = Retinex
	url = https://github.com/dongb5/Retinex
[submodule "Neural-IMage-Assessment"]
	path = Neural-IMage-Assessment
	url = https://github.com/yunxiaoshi/Neural-IMage-Assessment
[submodule "SPAQ"]
    path = SPAQ
	url = https://github.com/h4nwei/SPAQ
[submodule ".\\LinearityIQA\\LinearityIQA"]
    path = .\\LinearityIQA\\LinearityIQA\\
	url = https://github.com/lidq92/LinearityIQA
[submodule "paq2piq"]
    path = paq2piq
	url = https://github.com/baidut/PaQ-2-PiQ